<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {%load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css'%}"/>
        <link href="{% static 'core/css/all.css'%}" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/bb45b96f88.js" crossorigin="anonymous"></script>
        <!--[if lte IE 6]>
        <link rel="stylesheet" type="text/css" href="ie.css" />
        <style type="text/css">#content .latest .text { behavior: url(iepngfix.htc); }</style>
        <![endif]-->
        <style>
            titulo
            {
                color:#9ACD32;
                font-size:x-large;
                font-weight: bold;
            }
            titulo2
            {
                color:#9ACD32;
                font-size:large;
                font-weight: bold;
                line-height: 2;
            }
            subtitulo
            {
                color:#000000;
                font-size:large;
                font-weight: bold;
            }
            .mySlides {display:none;}
        </style>
    </head>
    <body>
        <!-- BEGIN wrapper -->
        <div id="wrapper">
            <!-- BEGIN header -->
            <div id="header">
                <div class="logo">
                   <table style="width: 100%" bgcolor= "#FFFFFF">
                   <colgroup>
                        <col style="width: 8.5%"/>
                        <col style="width: 8.5%"/>
                        <col style="width: 8.5%"/>
                        <col style="width: 8.5%"/>
                        <col style="width: 8.5%"/>
                        <col style="width: 8.5%"/>
                        <col style="width: 8.5%"/>
                        <col style="width: 8.5%"/>
                        <col style="width: 8.5%"/>
                        <col style="width: 23.5%"/>
                    </colgroup>
                    <tr>
                        <td colspan="9" align="middle"><titulo>XVI Simposio Nacional y VII Internacional de Valuación Rural</titulo></td>
                        <td rowspan="4"><img src="{% static 'core/img/portada-bg.png'%}" alt="INVAF Michoacán A.C." style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td colspan="9" align="middle"><subtitulo>"Valor del suelo ante cambios de uso, por derecho de vía o desastres"</subtitulo></td>
                    </tr>
                    <tr>
                        <td colspan="9" align="middle">Morelia, Michoacán 27 al 29 de agosto del 2020</td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'core/img/logo_agrobiologia.png'%}" alt="FACULTAD DE AGROBIOLOGIA “PDTE. JUAREZ” UMSNH" style="width: 60%"></td>
                        <td><img src="{% static 'core/img/logo_invaf.png'%}" alt="INVAF Michoacán A.C." style="width: 60%"></td>
                        <td><img src="{% static 'core/img/logo_umsnh.png'%}" alt="UNIVERSIDAD MICHOACANA DE SAN NICOLAS DE HIDALGO." style="width: 60%"></td>
                        <td><img src="{% static 'core/img/logo_inicit.png'%}" alt="INSTITUTO DE INVESTIGACIONES EN CIENCIAS DE LA TIERRA (INICIT) UMSNH" style="width: 60%"></td>
                        <td><img src="{% static 'core/img/logo_economia.png'%}" alt="FACULTAD DE ECONOMÍA “VASCO DE QUIROGA” UMSNH" style="width: 60%"></td>
                        <td><img src="{% static 'core/img/logo_zacatecas.png'%}" alt="" style="width: 60%"></td>
                        <td><img src="{% static 'core/img/logo_bc.png'%}" alt="" style="width: 60%;height: auto;"></td>
                        <td><img src="{% static 'core/img/logo_colegio.png'%}" alt="" style="width: 60%"></td>
                        <td><img src="{% static 'core/img/logo_univa.png'%}" alt="" style="width: 60%"></td>
                    </tr>
                   </table>
                </div>
                <div class="break"></div>
                    <ul>
                        <li><a href="{%url 'Home'%}">Portada</a></li>
                        <li><a href="{%url 'Informacion'%}">Informes</a></li>
                        <li><a href="{%url 'Inscripcion'%}">Inscripción</a></li>
                        <li><a href="{%url 'Resumenes'%}">Resumenes</a></li>
                    </ul>
            </div>
            <!-- END header -->
            <!-- BEGIN body -->
            <div id="body">
                <!-- BEGIN content -->
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                <!-- END content -->
                <!-- BEGIN sidebar -->
                <div id="sidebar">
                    <!-- begin featured video -->
                    <div class="video"> 
                        <img class="mySlides" src="{% static 'core/img/1.jpeg'%}" style="width: 70%">
                        <img class="mySlides" src="{% static 'core/img/2.jpeg'%}" style="width: 70%">
                        <img class="mySlides" src="{% static 'core/img/3.jpeg'%}" style="width: 70%">
                        <img class="mySlides" src="{% static 'core/img/4.jpeg'%}" style="width: 70%">
                        <img class="mySlides" src="{% static 'core/img/5.jpeg'%}" style="width: 70%">
                        <img class="mySlides" src="{% static 'core/img/6.jpeg'%}" style="width: 70%">
                        <img class="mySlides" src="{% static 'core/img/7.jpeg'%}" style="width: 70%">
                        <img class="mySlides" src="{% static 'core/img/8.jpeg'%}" style="width: 70%">
                        <img class="mySlides" src="{% static 'core/img/9.jpeg'%}" style="width: 70%">
                    </div>
                    <!-- end featured video -->
                    <!-- begin actividades -->
                    <h2>Actividades</h2>
                    <ul>
                        <li><a href="{%url 'Talleres'%}">Talleres</a></li>
                        <li><a href="#">Conferencias magistrales</a></li>
                        <li><a href="#">Ponencias</a></li>
                        <li><a href="{%url 'Panel'%}">Panel Internacional de expertos</a></li>
                    </ul>
                    <!-- end actividades -->  
                    <!-- begin calendario -->
                    <div> 
                        <a href="{%url 'calendario'%}"><h2>Calendario de actividades</h2></a>
                    </div>
                    <!-- end calendario -->
                </div>
                <!-- END sidebar -->
                <div class="break"></div>
                <!-- END body -->
                {%if request.path != "/"%}<hr>{%endif%}
                <!-- BEGIN footer -->
                <div id="footer">
                    <a href="#"><i class="fas fa-envelope fa-2x"></i></a>  
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>  
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>  
                    <a href="#"><i class="fab fa-youtube fa-2x"></i></a> 
                    Copyright &copy; 2020 CORDI
                </div>
                <!-- END footer -->
            </div>
        </div>
        <!-- END wrapper -->
        <script>
        var myIndex = 0;
        carousel();
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 3000); // Change image every 3 seconds
        }
        </script>
    </body>
</html>
