{%extends 'core/bases.html'%}
{%block title%}Portada{%endblock%}
{%block content%}
{%load static %}
    <div class="single post">
        <div class="calendario">
            <table align="center">
            <tr>
                <td class="titulo" colspan="4"> Calendario de actividades</td>
            </tr>
            <tr>
                <td>Hora</td>
                <td>Jueves 27</td>
                <td>Viernes 28</td>
                <td>Sabado 29</td>
            </tr>
            <tr>
                <td>8:00 - 9:00</td>
            </tr>
            <tr>
                <td>9:00 - 9:30</td>
            </tr>
            <tr>
                <td>9:30 - 10:00</td>
            </tr>
            <tr>
                <td>10:00 - 10:05</td>
            </tr>
            <tr>
                <td>10:05 - 10:35</td>
            </tr>
            <tr>
                <td>10:40 - 11:20</td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            </table>
        </div>
    </div>
{%endblock%}