{%extends 'core/base.html'%}
{%block title%}Calendario{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Calendario del evento</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">Calendario</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!--==============================
=            Schedule            =
===============================-->

<section class="section schedule">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3><span class="alternate">Agenda del evento</span></h3>
					<h4><span class="alternate">*PROGRAMA PRELIMINAR SUJETO A CAMBIOS</span></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="schedule-tab">
					<ul class="nav nav-pills text-center">
					  <li class="nav-item">
					    <a class="nav-link active" href="#aug27" data-toggle="pill">
					    	Dia-01
					    	<span>27 Agosto 2020</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#aug28" data-toggle="pill">
							Dia-02
					    	<span>28 Agosto 2020</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#aug29" data-toggle="pill">
							Dia-03
					    	<span>29 Agosto 2020</span>
					    </a>
					  </li>
					</ul>
				</div>
				<div class="schedule-contents bg-schedule">
					<div class="tab-content" id="pills-tabContent">
					  <div class="tab-pane fade show active schedule-item" id="aug27">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
					  		<li class="headings">
					  			<div class="time">Hora</div>
					  			<div class="speaker">Ponente</div>
					  			<div class="subject">Tema</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
					  				<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">9.00 - 10.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Bienvenida y mecanica del curso taller</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">11.45 - 12.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Receso</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">12.00 - 14.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">3 Curso Taller simultaneo</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">14.00 - 15.30</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Comida</div>
					  			</div>
					  		</li>
							<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">15.30 - 17.50</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">3 Curso Taller simultaneo</div>
					  			</div>
					  		</li>
							<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">17.50 - 18.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Receso</div>
					  			</div>
					  		</li>
							<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">18.00 - 20.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">3 Curso Taller simultaneo</div>
					  			</div>
					  		</li>
					  	</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="aug28">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
					  		<li class="headings">
					  			<div class="time">Hora</div>
					  			<div class="speaker">Ponente</div>
					  			<div class="subject">Tema</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">9.20 - 10.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Ponencia</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">10.00 - 10.15</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Acto protocolario e inauguración del simposio</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">10.15 - 10.30</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Presentación del panel internacional de expertos</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">10.30 - 12.55</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker"><b>Panelistas</b><br>
										Víctor Manuel Hernandez Madrigal INICIT-MEXICO<br>
										<b>Moderan</b><br>
										Oscar Pérez Veyna UAZ-MEXICO<br>
										Erika Chávez-Nungaray UABC-MEXICO<br>
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Panel internacional de expertos</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">13.00 - 14.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">César cantú Martínez (FECOVAL-MAI)
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">El valor del suelo ante cambios de uso</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
							<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">14.00 - 16.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Comida</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">16.00 - 17.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Ponencia magistral</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">17.00 - 18.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Eugenio Montejano Morán (INVAF-Centro San Luis Potosí)
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Valuación de Terrenos en Transición y la Plusvalía Generada</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">18.00 - 19.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Ponencia</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">19.00 - 20.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Netzahualcoyotl Flores Lázaro (INVAF-MICH)
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Aproximación metodológica para valuar en términos económicos la erosión del suelo.</div>
					  			</div>
					  		</li>
					  	</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="aug29">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
					  		<li class="headings">
					  			<div class="time">Hora</div>
					  			<div class="speaker">Ponente</div>
					  			<div class="subject">Tema</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">9.20 - 10.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Ponencia</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">10.00 - 11.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Conferencia magistral</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">11.00 - 12.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Conferencia magistral</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">12.00 - 13.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Ponencia</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">13.00 - 14.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Ponencia</div>
					  			</div>
					  		</li>
					  	</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Schedule  ====-->
{%endblock%}