{%extends 'core/base.html'%}
{%block title%}Calendario{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Calendario del evento</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">Calendario</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!--==============================
=            Schedule            =
===============================-->

<section class="section schedule">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3><span class="alternate">Agenda del evento</span></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="schedule-tab">
					<ul class="nav nav-pills text-center">
					  <li class="nav-item">
					    <a class="nav-link active" href="#aug27" data-toggle="pill">
					    	Dia-01
					    	<span>27 Agosto 2020</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#aug28" data-toggle="pill">
							Dia-02
					    	<span>28 Agosto 2020</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#aug29" data-toggle="pill">
							Dia-03
					    	<span>29 Agosto 2020</span>
					    </a>
					  </li>
					</ul>
				</div>
				<div class="schedule-contents bg-schedule">
					<div class="tab-content" id="pills-tabContent">
					  <div class="tab-pane fade show active schedule-item" id="aug27">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
					  		<li class="headings">
					  			<div class="time">Hora</div>
					  			<div class="speaker">Ponente</div>
					  			<div class="subject">Tema</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
					  				<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">9.00 - 10.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Bienvenida y mecanica del curso taller</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">11.45 - 12.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Receso</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">12.00 - 14.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">3 Curso Taller simultaneo</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">14.00 - 15.30</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Comida</div>
					  			</div>
					  		</li>
							<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">15.30 - 17.50</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">3 Curso Taller simultaneo</div>
					  			</div>
					  		</li>
							<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">17.50 - 18.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Receso</div>
					  			</div>
					  		</li>
							<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">18.00 - 20.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">3 Curso Taller simultaneo</div>
					  			</div>
					  		</li>
					  	</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="aug28">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
					  		<li class="headings">
					  			<div class="time">Hora</div>
					  			<div class="speaker">Ponente</div>
					  			<div class="subject">Tema</div>
								<div class="venue">Lugar</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">9.20 - 10.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Dra. Jannine Oliveros Barba</div>
							  		<!-- Subject -->
							  		<div class="subject">Pasivo contingente derivado de la violación al derecho humano de vivienda digna</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">10.00 - 10.30</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Acto protocolario e inauguración del simposio a cargo del Maestro Mauricio Márquez Corona Presidente del INDAABIN</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">10.30 - 12.30</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker"><b>Panelistas</b><br>
									    Dr. José Alfonso Iracheta Caroll INSUS-SEDATU<br>
									    Mtro. Celerino Medina Flores FECOVAL, A. C.<br>
										Víctor Manuel Hernandez Madrigal INICIT-MEXICO<br>
										<b>Moderan</b><br>
										Dr. Oscar Pérez Veyna UAZ-MEXICO<br>
										Dra. Erika Chávez-Nungaray UABC-MEXICO<br>
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">Panel internacional de expertos "Los problemas de la valuación en la liberación de derechos de vía o desastres"</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">12.30 - 13.30</span>
							  		</div>
									<!-- Speaker -->
							  		<div class="speaker">Dra. María Lourerio Universidad de Santiago de Compostela. ESPAÑA</div>
							  		<!-- Subject -->
							  		<div class="subject">CONFERENCIA MAGISTRAL</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">13.30 - 14.20</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Esp. En Val. César cantú Martínez FECOVAL-MAI</div>
							  		<!-- Subject -->
							  		<div class="subject">El valor del suelo ante cambios de uso</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">13.30 - 14.20</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Mtro. Ariosto Lopez Alegria INICYT-UMSNH</div>
							  		<!-- Subject -->
							  		<div class="subject">Impacto económico por deslizamientos en servicios ecosistémicos. Reserva de la Biosfera la Mariposa Monarca</div>
									<!-- Venue -->
							  		<div class="venue">Sala 2</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">16.00 - 17.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">INDAABIN</div>
							  		<!-- Subject -->
							  		<div class="subject">Metodología aplicable en el avalúo de afectaciones por liberación del Derecho de Vía</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">16.00 - 17.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Dr. Hugo J. Guerra VENEZUELA</div>
							  		<!-- Subject -->
							  		<div class="subject">Una propuesta valorativa para mensurar la justa indemnización en expropiaciones de bienes tangibles no financieros</div>
									<!-- Venue -->
							  		<div class="venue">Sala 2</div>
					  			</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">17.00 - 18.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Esp. En Val. Bertha Lorena Mercado Acevo LM VALUACIÓN DE MERCADO, S. A.</div>
							  		<!-- Subject -->
							  		<div class="subject">El ordenamiento territorial como generador de valor</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">17.00 - 18.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Mtro. Fernando Ollier ARGENTINA</div>
							  		<!-- Subject -->
							  		<div class="subject">Valuación de un inmueble rural para generar tres nuevas Unidades agroeconomicamente independientes</div>
									<!-- Venue -->
							  		<div class="venue">Sala 2</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">18.00 - 19.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Eugenio Montejano Morán INVAF-Centro San Luis Potosí</div>
							  		<!-- Subject -->
							  		<div class="subject">Valuación de los terrenos en transición de la periferia urbana y su impacto en la plusvalía</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">18.00 - 19.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Mtro. Jaime Ordoñez Damian INVAF CENTRO, A. C.</div>
							  		<!-- Subject -->
							  		<div class="subject">Mito o Realidad en el Cambio de Uso de Suelo en Predios en Transición</div>
									<!-- Venue -->
							  		<div class="venue">Sala 2</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">19.00 - 20.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Mtro. Jorge Arzate INVAF, BAJIO, A. C.
							  		</div>
							  		<!-- Subject -->
							  		<div class="subject">El Valor de valuador en la Valuación</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">19.00 - 20.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Netzahualcoyotl Flores Lázaro INVAF-MICH</div>
							  		<!-- Subject -->
							  		<div class="subject">Aproximación metodológica para valuar en términos económicos la erosión del suelo.</div>
									<!-- Venue -->
							  		<div class="venue">Sala 2</div>
					  			</div>
					  		</li>
					  	</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="aug29">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
					  		<li class="headings">
					  			<div class="time">Hora</div>
					  			<div class="speaker">Ponente</div>
					  			<div class="subject">Tema</div>
								<div class="venue">Lugar</div>
					  		</li>
					  		<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">9.15 - 10.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Esp. En Val. Patricia Gutierrez Arredondo GEOAVALUOS S. A.</div>
							  		<!-- Subject -->
							  		<div class="subject">Detección - Diagnóstico, en agricultura, cambio de uso de suelo, mediante Drones</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">9.15 - 10.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Dr. José Luis Seefo Luján EL COLEGIO DE MICHOACÁN</div>
							  		<!-- Subject -->
							  		<div class="subject">Angangueo 2010, Aprender de los desastres</div>
									<!-- Venue -->
							  		<div class="venue">Sala 2</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">10.00 - 11.00</span>
									</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Patricia Balvanera Levy IIES-UNAM</div>
							  		<!-- Subject -->
							  		<div class="subject">CONFERENCIA MAGISTRAL: Cambio de uso del suelo, servicios ecosistémicos y bienestar</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">11.00 - 12.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">M.C. Francisco Flores Ramos UNIVERSIDAD AUTONOMA DE QUERÉTARO</div>
							  		<!-- Subject -->
							  		<div class="subject">Valuación de árboles urbanos aplicación de fórmulas, estudio de caso: jardín guerrero y jardín corregidora</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">11.00 - 12.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Dr. Jorge A. Hernandez Plascencia INVAF, A C.</div>
							  		<!-- Subject -->
							  		<div class="subject">La evolución del criterio valuatorio sobre el valor del suelo ante cambios de uso por liberaciónde derechos de vía</div>
									<!-- Venue -->
							  		<div class="venue">Sala 2</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">12.00 - 13.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Esp. En Val. Armando Escalante Chavira PRESIDENTE UPAV</div>
							  		<!-- Subject -->
							  		<div class="subject">Estado del arte de la valuación en panamérica</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">12.00 - 13.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Dr. FIDEL ALVAREZ GONZALEZ UNIVERSIDAD PORTENTA</div>
							  		<!-- Subject -->
							  		<div class="subject">La valuación de daños extrapatrimoniales (daño moral) por el impacto social  en la afectaciones por ocupación del territorio</div>
									<!-- Venue -->
							  		<div class="venue">Sala 2</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">13.00 - 14.00</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">Prof. José Urdaneta Morán UNIVERSIDAD DEL ZULIA Venezuela<br>
									  	<b>Comentaristas</b><br>
										Dr. Oscar Pérez Veyna UAZ-MEXICO<br>
										Dr. Jorge A. Hernández Plascencia INVAF, A.C.<br></div>
							  		<!-- Subject -->
							  		<div class="subject">PRESENTACIÓN DE LIBRO: EL VALOR DE LO INVALUABLE; Manual de Valuación de tierras agrícolas</div>
									<!-- Venue -->
							  		<div class="venue">Sala 1</div>
					  			</div>
					  		</li>
							<!-- Schedule Details -->
					  		<li class="schedule-details">
					  			<div class="block">
						  			<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">14.00 - 14.15</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">A cargo del Arq. Gustavo Alfonso Reyes Aguiar Presidente de FECOVAL</div>
							  		<!-- Subject -->
							  		<div class="subject">Clausura</div>
					  			</div>
					  		</li>
					  	</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Schedule  ====-->

{%endblock%}