{%extends 'core/base.html'%}
{%block title%}¿Quiénes somos?{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Directorio</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">Directorio</li><br/><br/>
				  <li class="breadcrumb-item">Instituto Nacional de Valuación Agropecuaria y Forestal de Michoacán, A.C.</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->
<!--===================================
=            Pricing Table            =
====================================-->
<section class="section pricing">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Instituto Nacional de Valuación Agropecuaria y Forestal de Michoacán, A.C.</h3>
					<p>Direccion: Morelos Sur 13, Centro, 59600 Zamora de Hidalgo, Mich.</p>
				</div>
			</div>
		</div>
    </div>
    <div class="grid-container">
        <div class="directorio">
            <div class="a11"><br/><br/><b>INVAFMICH-001</b></div>
            <div class="a12"><b>Netzahualcoyotl Flores Lazaro</b><br/>Virrey de Mendoza No. 23 INT. 105<br/>Col. La luneta, Zamora, Michoacán<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación inmobiliaria rural, maquinaria y equipo, activos ambientales<br/>Posgrado:Maestria en valuación<br/></div>
            <div class="a13"><br/><br/><br/>Cedula: 1698148<br/>Cedula: 4365700<br/>Cedula: 4365700<br/></div>
            <div class="a14"><br/><br/>Valuador independiente de Instituciones Públicas y Privadas, Docente investigador LASALLE</div>
            <div class="a15"><img src="{% static 'core/images/speakers/NFL.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a21">INVAFMICH-002</div>
            <div class="a22"><b>Benjamin Chavez Ayala</b><br/>Blvd. Lazaro Cárdenas No. 781 Local 6<br/>Frac. Peña, La Piedad, Michoacán<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación inmobiliaria rural, maquinaria y equipo<br/>Posgrado:Valuación de Bienes Inmuebles<br/></div>
            <div class="a23"><br/><br/><br/>Cedula: 1642503<br/>Cedula: 3187556<br/><br/>Cedula: 3187556<br/></div>
            <div class="a24">Empleado de Gobierno Federal</div>
            <div class="a25"><img src="{% static 'core/images/speakers/BCA.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a31">INVAFMICH-003</div>
            <div class="a32"><b>José Antonio Briseño Gonzalez</b><br/>Morelos No. 161-17<br/>Col. Centro, Zamora, Michoacán<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación inmobiliaria rural, maquinaria y equipo<br/>Posgrado:Maestria en valuación<br/></div>
            <div class="a33"><br/><br/><br/>Cedula: 1950983<br/>Cedula: 4597617<br/><br/>Cedula: 4597617<br/></div>
            <div class="a34">Valuador independiente de Instituciones Públicas y Privadas</div>
            <div class="a35"><img src="{% static 'core/images/speakers/JABG.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a41">INVAFMICH-004</div>
            <div class="a42"><b>Leticia Chavez Contreras</b><br/>María G. Cerda No. 85<br/>Col. Centro, Coalcoman, Michoacán<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación inmobiliaria rural, maquinaria y equipo<br/>Posgrado:Maestria en valuación<br/></div>
            <div class="a43"><br/><br/><br/>Cedula: 1628522<br/>Cedula: 7345491<br/><br/>Cedula: 7345491<br/></div>
            <div class="a44">Practica Privada</div>
            <div class="a45"><img src="{% static 'core/images/speakers/LCC.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a51">INVAFMICH-005</div>
            <div class="a52"><b>Luis Fernando Quiñones Aguilar</b><br/>Dalia No. 325<br/>Frac. Camelinas, Zamora, Michoacán<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación de predios y maquinaria<br/>Posgrado:Maestria en valuación<br/></div>
            <div class="a53"><br/><br/><br/>Cedula: 2085525<br/>Cedula: 4597619<br/>Cedula: 4597619<br/></div>
            <div class="a54">Docente del Instituto de Estudios Superiores de Zamora</div>
            <div class="a55"><img src="{% static 'core/images/speakers/LFQA.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a61">INVAFMICH-006</div>
            <div class="a62"><b>José Javier Castillo Aguilar</b><br/>Federico Chopin # 157<br/>Col. La Loma, CP 58290, Morelia, Michoacán<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación inmobiliaria rural, maquinaria y equipo<br/>Posgrado:Especialidad en la pericia y la valuación de bienes rurales<br/></div>
            <div class="a63"><br/><br/><br/>Cedula: 936140<br/>Cedula: 7442309<br/><br/>Cedula: 5777429<br/></div>
            <div class="a64">Practica privada</div>
            <div class="a65"><img src="{% static 'core/images/speakers/LFQA.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a71">INVAFMICH-007</div>
            <div class="a72"><b>Gustavo Herrera López</b><br/>Sargento Manuel de la Rosa No 141<br/>Col. Chapultepec Sur, Morelia, Michoacán<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación<br/>Posgrado:Maestria en valuación<br/></div>
            <div class="a73"><br/><br/><br/>Cedula: 1609001<br/>Cedula: 4011324<br/>Cedula: 4011324<br/></div>
            <div class="a74">Practica privada</div>
            <div class="a75"><img src="{% static 'core/images/speakers/LFQA.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a81">INVAFMICH-008</div>
            <div class="a82"><b>Salomón Yepez García</b><br/>Avenida De las Rosas 853<br/>col. Aurora 2da Sección, Zamora, Michoacán CP 59660<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación inmobiliaria rural, maquinaria y equipo<br/>Posgrado:Maestria en valuación<br/></div>
            <div class="a83"><br/><br/><br/>Cedula: 1691003<br/>Cedula: 7023871<br/><br/>Cedula: 7023871<br/></div>
            <div class="a84">Practica privada</div>
            <div class="a85"><img src="{% static 'core/images/speakers/SYG.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a91">INVAFMICH-009</div>
            <div class="a92"><b>Germán Zumaran García</b><br/>C. San Esteban No. 1728<br/>Col. Talpita, Guadalajara, Jalisco; C.P. 44719<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:La pericia y la valuación de bienes rurales y bienes muebles<br/>Posgrado:Maestria en valuación<br/></div>
            <div class="a93"><br/><br/><br/>Cedula: 5598173<br/>Cedula: 7491505 Y 7876150<br/>Cedula: En trámite<br/></div>
            <div class="a94">Coordinador de avaluos de financiera rural</div>
            <div class="a95"><img src="{% static 'core/images/speakers/GZG.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a101">INVAFMICH-010</div>
            <div class="a102"><b>Juan Salas Napoles</b><br/>Cuauhtemoc No. 24<br/>Col. Centro, Briseñas, Michoacán<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación de predios y maquinaria<br/>Posgrado:Maestria en valuación<br/></div>
            <div class="a103"><br/><br/><br/>Cedula: 1922357<br/>Cedula: 6097445<br/>Cedula: 6097445<br/></div>
            <div class="a104">Practica Privada</div>
            <div class="a105"><img src="{% static 'core/images/speakers/JSN.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a111">INVAFMICH-018</div>
            <div class="a112"><b>Victor Manuel Romero Gamboa</b><br/>Benito Juarez No. 351<br/> Col. Centro, Tacambaro, Michoacán; C.P.61650<br/>Licenciatura: Ingeniero Agronomo<br/></div>
            <div class="a113"><br/><br/><br/>Cedula: 1691823<br/><br/></div>
            <div class="a114">Practica Privada</div>
            <div class="a115"><img src="{% static 'core/images/speakers/VMRG.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a121">INVAFMICH-019</div>
            <div class="a122"><b>Eduardo Joel Pérez Rosas</b><br/>Plaza Vasco de Quiroga 63<br/>Col. Centro, Patzcuaro, Michoacán, C.P. 61600<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:Valuación inmobiliaria rural<br/>Posgrado:Maestria en Valuación de Inmuebles<br/></div>
            <div class="a123"><br/><br/><br/>Cedula: 1612644<br/><br/>Cedula: En trámite<br/></div>
            <div class="a124">Practica privada</div>
            <div class="a125"><img src="{% static 'core/images/speakers/EJPR.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a131">INVAFMICH-020</div>
            <div class="a132"><b>Eric Manuel Juárez</b><br/>5 de mayo No. 50<br/>Col. Centro, Uruapan, Michoacán; CP 60000<br/>Licenciatura: Arquitecto<br/>Especialidad:Valuación con orientación en inmuebles agropecuarios<br/>Posgrado:Maestria en Valuación<br/></div>
            <div class="a133"><br/><br/><br/>Cedula: 5984802<br/>Cedula: 7930008<br/><br/>Cedula: 9680365<br/></div>
            <div class="a134">Practica privada</div>
            <div class="a135"><img src="{% static 'core/images/speakers/EMJ.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a141">INVAFMICH-021</div>
            <div class="a142"><b>J. Socorro Fuentes Juárez</b><br/>5 de mayo No. 50<br/>Col. Centro, Uruapan, Michoacán; CP 60000<br/>Licenciatura: Ingeniero Civil<br/>Especialidad:Valuación con orientación en inmuebles agropecuarios<br/>Posgrado:Maestria en Valuación<br/></div>
            <div class="a143"><br/><br/><br/>Cedula: 470288<br/>Cedula: 7930010<br/><br/>Cedula: 9680366<br/></div>
            <div class="a144">Practica privada</div>
            <div class="a145"><img src="{% static 'core/images/speakers/JSFJ.jpg'%}" class="img-fluid" alt="foto"></div>
            <div class="a151">INVAFMICH-022</div>
            <div class="a152"><b>Efraín Yepez García</b><br/>Retorno F No. 201<br/>Bosques de la Huerta, Morelia, Michoacán; CP 58080<br/>Licenciatura: Ingeniero Agronomo<br/>Especialidad:En la pericia y la valuación de bienes rurales<br/>Posgrado:Maestria en Valuación<br/></div>
            <div class="a153"><br/><br/><br/>Cedula: 7229474<br/>Cedula: 602709<br/><br/>Cedula: En trámite<br/></div>
            <div class="a154">Practica privada</div>
            <div class="a155"><img src="{% static 'core/images/speakers/EYG.jpg'%}" class="img-fluid" alt="foto"></div>
        </div>
	</div>
</section>
<!--====  End of Pricing Table  ====-->
{%endblock%}