{%extends 'core/base.html'%}
{%block title%}Gracias por inscribirte{%endblock%}
{%block content%}
<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Gracias por inscribrte</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">Gracias por inscribirte</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3><span class="alternate">¿Cómo hacer el pago?</span></h3>
					<p style="text-align:justify">Por favor realice  una transferencia o deposito por el monto de su paquete a la siguiente cuenta:</p><br/>
                    <p style="text-align:justify">A NOMBBRE DEL: INSTITUTO NACIONAL DE VALUACIÓN AGROPECUARIA Y FORESTAL DE MICHOACÁN, AC</p>
                    <p style="text-align:justify">BANCO: BANBAJÍO</p>
                    <p style="text-align:justify">CUENTA: 1293 3826 0201</p>
                    <p style="text-align:justify">CLABE: 0305 3590 0004 4494 80</p>
				</div>
			</div>
		</div>
  </div>
</section>
{%endblock%}