{%extends 'core/bases.html'%}
{%block title%}Portada{%endblock%}
{%block content%}
{%load static %}
  <div class="single post">
    <p align="center">INSTITUTO NACIONAL DE VALUACIÓN AGROPECUARIA Y FORESTAL DE MICHOACAN A. C.</p>
    <p align="center">INSTITUTO DE INVESTIGACIONES EN CIENCIAS DE LA TIERRA (INICIT) UMSNH</p>
    <p align="center">FACULTAD DE AGROBIOLOGIA “PDTE. JUAREZ” UMSNH</p>
    <p align="center">FACULTAD DE ECONOMÍA "VASCO DE QUIROGA" UMSNH</p>
    <p align="center">UNIVERSIDAD AUTONOMA DE ZACATECAS</p>
    <p align="center">EL COLEGIO DE MICHOACÁN, A. C.</p>
    <p align="center">UNVERSIDAD AUTONOMA DE BAJA CALIFORNIA</p>
    <p align="center">UNIVERSIDAD DEL VALLE DE ATEMAJAC</p>
    <p><h1 align="center">Convocan al:</h1></p>
    <br/>
    <p align="center"><titulo2>XVI Simposio Nacional y VII Internacional de Valuación Rural</titulo2></p>
    <br/>
    <p><h2 align="center">"Valor del suelo ante cambios de uso, por derecho de vía o desastres"</h2></p>
    <br/>
    <p align="center">A celebrarse en la ciudad de Morelia, Michoacán del 27 al 29 de agosto del 2020</p>
    <br/>
    <p align="center"> Temáticas</p>
    <div class="tabla">
      <table>
        <tr>
          <td></td>
          <td></td>
          <td></td> 
          <td class="uno">La evaluación y la planeación del desarrollo urbano, rural, local y regional</td>
          <td></td>
          <td class="uno">Valuación rural en áreas con presión de otros usos distintos al suelo rural</td>
          <td></td>
          <td class="uno">La reserva territorial, acceso al suelo urbano para las diversas tipologias sociales</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="dos">Métodos de evaluación aplicados en cultivos forestales</td>
          <td></td>
          <td class="dos">Valuación rural en áreas con presión de otros usos distintos al suelo rural</td>
          <td></td>
          <td class="dos">Valuación del suelo por derecho de via, riesgos o desastres</td>
          <td></td>
          <td class="dos">Valuación de infraestructura</td>
          <td></td>
          <td class="dos">Métodos de evaluación aplicados en cultivos de praderas y agostaderos</td>
          <td></td>
          <td class="dos">Metodologías para estimar el valor comercial de los bienes distintos a la tierra</td>
        </tr>
        <tr>
          <td></td>
          <td class="tres">Métodos de evaluación aplicados en cultivos de praderas y agostaderos</td>
          <td></td>
          <td class="tres">Métodos de evaluación de activos ambientales</td>
          <td></td>
          <td class="tres">Métodos de evaluación aplicados en cultivos perennes</td>
          <td></td>
          <td class="tres">Valuación de daños en situaciones de desastre</td>
          <td></td>
          <td class="tres">Valuación de servicios ecosistemicos ante desastres naturales</td>
          <td></td>
        </tr>
      </table>
    </div>
    <br/>
    <p align="center"> Instituciones invitadas</p>
    <br/>
    <p><img class="alignleft" src="{% static 'core/img/invitados.png'%}" width="550" height="75" alt=""></p>
    <br/>
  </div>
{%endblock%}