{%extends 'core/base.html'%}
{%block title%}Portada{%endblock%}
{%block background%}{%load static%}{% static 'core/img/bg1.jpg'%}{%endblock%}
{%block headers%}
    <h2>XVI Simposio Nacional y VIII Internacional de Valuación Rural</h2>
    <em>“Valor del suelo ante cambios de uso, por derecho de vía o desastres”</em>
{%endblock%}
{%block content%}
<h2 align="center">Convocatoria</h2>
<br>
<div class="row" id="About">
   <div class="col-lg-8 col-md-10 mx-auto">
    <p align="center">INSTITUTO NACIONAL DE VALUACIÓN AGROPECUARIA Y FORESTAL DE MICHOACAN, A. C.</p>
    <p align="center">INSTITUTO DE INVESTIGACIONES EN CIENCIAS DE LA TIERRA (INICIT) UMSNH</p>
    <p align="center">FACULTAD DE AGROBIOLOGIA “PDTE. JUAREZ” UMSNH</p>
    <p align="center">FACULTAD DE ECONOMÍA "VASCO DE QUIROGA" UMSNH</p>
    <p align="center">UNIVERSIDAD AUTONOMA DE ZACATECAS</p>
    <p align="center">EL COLEGIO DE MICHOACÁN, A. C.</p>
    <p align="center">UNVERSIDAD AUTONOMA DE BAJA CALIFORNIA</p>
    <p align="center">UNIVERSIDAD DEL VALLE DE ATEMAJAC</p>
    <p align="center">Convocan al:</p>
    <br>
    <p><h2 align="center">XVI Simposio Nacional y VII Internacional de Valuación Rural</h2></p>
    <p><h3 align="center">Valor del suelo ante cambios de uso, por derecho de vía o desastres</h3></p>
    <br>
    <br>
    <p><h4>Conferencias magistrales</h4></p>
    <p><h4>Ponencias</h4></p>
    <p><h4>Panel de expertos</h4></p>
    <br>
    <p><h4>Talleres: </h4></p>
    <br>
        <!-- Proyecto -->
	      <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'core/img/valuacion.jpg'%}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Valuación de bienes distintos a la tierra</h2>   
	          <p>Mtro. Gabriel Palacios Arroyo</p>
	      	</div>
	      </div>
	      <!-- Proyecto -->
	      <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'core/img/rustico.jpg'%}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      	    <h2 class="section-heading title">Valuación de inmuebles rústicos con presión urbana, influencia de infraestructura, riesgos y desastres naturales</h2>   
	            <p>Ing. César Cantú Martínez (FECOVAL-MAI)</p>
                <p>Dr. Víctor Manuel Hernández Madrigal (INICIT-UMSNH)</p>
	      	</div>
          </div>
        <!-- Proyecto -->
	      <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'core/img/valoracion.jpg'%}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Valuación económica de impacto ambiental por el Método de Valoración Contingente. Aplicaciones en México y en el contexto global</h2>
                <em>Estudio de caso: El derrame de petróleo en la plataforma Deepwater Horizon, BP en el Golfo de México en 2010.</em>
	          <p>Dr. Oscar Pérez Veyna. (Universidad Autónoma de Zacatecas)</p>
              <p>Mtro. Netzahualcoyotl Flores Lázaro. (INVAFMICH. A. C.)</p>
	      	</div>
	      </div>
    </div>
</div>
{%endblock%}