{%extends 'core/base.html'%}
{%block title%}Información{%endblock%}
{%block background%}{%load static%}{% static 'core/img/bg1.jpg'%}{%endblock%}
{%block headers%}
    <h2>XVI Simposio Nacional y VIII Internacional de Valuación Rural</h2>
    <em>“Valor del suelo ante cambios de uso, por derecho de vía o desastres”</em>
{%endblock%}
{%block content%}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p><b>Lugar: </b>Centro Cultural Universitario UMSNH Morelia, Michoacán</p>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1824.6569392713807!2d-101.19398835753353!3d19.702112623118538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842ef371b4fd077d%3A0x27434b495acac0ad!2sCentro%20Cultural%20Universitario!5e0!3m2!1ses-419!2smx!4v1584990387527!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
        <br>
        <p><b>Hotel sede: </b>Best Western Plus Gran Hotel Morelia</p>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.6881915937292!2d-101.18553134930227!3d19.68330378667737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0de7f4473415%3A0x7a979d28ae3fda59!2sBest%20Western%20Plus%20Gran%20Hotel%20Morelia!5e0!3m2!1ses-419!2smx!4v1584990952030!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
        <p><em>Costo por noche $ 1,000 MXN mas impuestos</em></p>
        <br>
        <p><b>Fechas: </b> 27, 28 y 29 de agosto de 2020</p>
        <br>
        <p><table style="width:100%" border="1">
            <tr>
                <th><b>Concepto</b></th>
                <th><b>Costo antes del 31 de julio 2020</b></th>
                <th><b>Costo después del 31 de julio de 2020</b></th>   
            </tr>
            <tr>
                <td align="center">Inscripción al envento (Sólo asistencia)</td>
                <td align="center">$ 2,750.00</td>
                <td align="center">$ 3,000.00</td>
            </tr>
            <tr>
                <td align="center">Inscrpción a curso</td>
                <td align="center">$ 2,750.00</td>
                <td align="center">$ 3,000.00</td>
            </tr>
            <tr>
                <td align="center">Inscrpción a cursos y taller</td>
                <td align="center">$ 5,000.00</td>
                <td align="center">$ 5,500.00</td>
            </tr>
            <tr>
                <td align="center">Registro de resúmenes</td>
                <td align="center">$ 300.00</td>
                <td align="center">$ 350.00</td>
            </tr>
        </table>
        </p>
    </div>
</div>
{%endblock%}