{%extends 'core/base.html'%}
{%block title%}Información{%endblock%}
{%block background%}{%load static%}{% static 'core/img/home-bg.jpg'%}{%endblock%}
{%block headers%}
    <h1>XVI Simposio Nacional y VII Internacional de Valuación Rural</h1>
{%endblock%}
{%block content%}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p><b>Lugar: </b>Centro Cultural Universitario UMSNH Morelia, Michoacán</p>
        <br>
        <p><b>Fecha: </b> 27, 28 y 29 de agosto de 2020</p>
        <br>
        <p>Conferencias magistrales</p>
        <p>Ponencias</p>
        <p>Panel de expertos</p>
        <br>
        <p><b>Costos: </b> Sólo Simposio: $ 2,750.00</p>
        <p>Curso: $ 2,750.00</p>
        <p>Simposio y curso $ 5,000.00</p>
    </div>
</div>
{%endblock%}