{%extends 'core/bases.html'%}
{%block title%}Inscripción{%endblock%}
{%block content%}
<div class="single post">   
    <div id="comments">
        <form action="#" method="post" id="registro">
        <p><label for="fname">Nombre:</label>
        <input type="text" id="fname" name="fname"></p>
        <p><label for="lname">Apellidos:</label>
        <input type="text" id="lname" name="lname"></p>
        <p><label for="instituto">Instituto de procedencia:</label>
        <input type="text" id="instituto" name="instituto" value="¿De qué universidad/instituto nos visitas?"></p>
        <p><label for="localidad">Lugar de procedencia:</label>
        <input type="text" id="localidad" name="localidad" value="¿De qué  lugar nos visitas?"></p>
        <p><input type="submit" value="Pago con tarjeta"></p>
        </form>
    </div>
</div>
{%endblock%}