{%extends 'core/base.html'%}
{%block title%}Memorias del simposio 2020{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            News Posts            =
=================================-->

<section class="news section">
	<div class="container">
		<div class="row mt-30">
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/zXlORfc7dBc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>27<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/zXlORfc7dBc">Curso: El valor de los inmuebles rurales por cambio de uso.</a></h2>
						</div>
                        <div class="post-meta">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://drive.google.com/file/d/1M_2wn7bbgeBpvaFmNCobxAl3HF0p9QC5/view?usp=sharing">Presentación Ing. Cantú</a>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/gWdfdiP5qk4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>27<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/gWdfdiP5qk4">Curso: El valor de los inmuebles rurales por cambio de uso</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="">Presentación Dr. Hernández</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/BuT3McI0NJA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>27<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/BuT3McI0NJA">Curso: Valuacion de bienes distintos a la tierra sesion matutina.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1n_7htLCBl1UfXXQHZPQG4Zbp04QUD1etUSTATTlfo1U/edit?usp=sharing">Presentación Dr. Palacios</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/AhMpHqgtUeY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>27<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/AhMpHqgtUeY">Curso: Valuacion de bienes distintos a la tierra sesion vespertina.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/16u5G9_kxrYsekf7QL8WtMErZJtaXmlzYg62OaUSvSzY/edit?usp=sharing">Presentación Dr. Palacios</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/qO-Zm7we720" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>28<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/qO-Zm7we720">Pasivo contingente derivado de la violación al derecho humano de vivienda digna</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="">Presentación Dra. Oliveros</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/R7ANME9IuW8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>28<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/R7ANME9IuW8">Los problemas de la valuación en la liberación de derechos de vía o desastres</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="">Presentación Dr. Hernández</a>
                                </li>
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="">Presentación Mtro. Medina</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/SmcuzKHYadY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>28<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/SmcuzKHYadY">Valuacion de daños economicos ocurridos por incendios</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://drive.google.com/file/d/121ffhvKhwwZO5NNpwHfa8Uv3e_RdFgLU/view?usp=sharing">Presentación Dra. Loureiro</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/Gk1V3Y6lP4M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>28<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/Gk1V3Y6lP4M">El valor del suelo ante cambios de uso</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://drive.google.com/file/d/1UutcahOCvbmynMhuNYjqWvXzNmJZBnIw/view?usp=sharing">Presentación Ing. Cantú</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/VMN0Vx9xWTk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>28<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/VMN0Vx9xWTk">Impacto económico por deslizamientos en servicios ecosistémicos. Reserva de la Biosfera la Mariposa Monarca.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1ac9HwgSsR0dUWicT1ttH68KWWeIsNPNtqE-F6gfMciE/edit?usp=sharing">Presentación Mtro. López</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/ZOd-dB8WpFs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>29<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/ZOd-dB8WpFs">Metodología aplicable en el avalúo de afectaciones por liberación del Derecho de Vía.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1Badc77XWCjmfskbGIRwuaTtx14xm3vvEnt42cIzccV0/edit?usp=sharing">Presentación INDAABIN</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/oecp54AfW5Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>29<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/oecp54AfW5Y">El ordenamiento territorial como generador de valor.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1mROvubrJqkzhQrhOGZj9FS3mT99FOOdJZI3cqkNG2j0/edit?usp=sharing">Presentación Esp. En Val. Mercado</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/vSw9Z-e-IpQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>29<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/vSw9Z-e-IpQ">Valuación de los terrenos en transición de la periferia urbana y su impacto en la plusvalía.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="">Presentación Mtro. Montejano</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/H0UAzkqL8TQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>29<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/H0UAzkqL8TQ">El Valor de valuador en la Valuación.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1xSP2JU817_MtGZcqMMIlT0rdgPk8zxW2syo3b5X1jKE/edit?usp=sharing">Presentación Mtro. Arzate</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/m3clEUJuYbk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>29<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/m3clEUJuYbk">Una propuesta valorativa para mensurar la justa indemnización en expropiaciones de bienes tangibles no financieros.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://drive.google.com/file/d/1CbJsxOfVFVg0t6VMmptmxxwlZKUq_GWo/view?usp=sharing">Presentación Dr. Guerra</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/shHQdnuAibE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>29<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/shHQdnuAibE">Valuación de un inmueble rural para generar tres nuevas Unidades agroeconomicamente independientes.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://drive.google.com/file/d/1CbJsxOfVFVg0t6VMmptmxxwlZKUq_GWo/view?usp=sharing">Presentación Mtro. Ollier</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/yfONLXOdtt8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>29<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/yfONLXOdtt8">Mito o Realidad en el Cambio de Uso de Suelo en Predios en Transición.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1W9_t4mAg0OmVkSG-sMLBOShrwIkihrDVzkLYWn5CyHA/edit?usp=sharing">Presentación Mtro. Ollier</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/dt1WWrs3fvE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>29<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/dt1WWrs3fvE">Aproximación metodológica para valuar en términos económicos la erosión del suelo.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="">Presentación Mtro. Flores</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/2IFl0jQMuT0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>30<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/2IFl0jQMuT0">Detección Diagnóstico, en agricultura, cambio de uso de suelo, mediante Drones.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1xSP2JU817_MtGZcqMMIlT0rdgPk8zxW2syo3b5X1jKE/edit?usp=sharing">Presentación Esp. En Val. Gutierréz</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/Ck0Q31t23w8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>30<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/Ck0Q31t23w8">Cambio de uso del suelo, servicios ecosistémicos y bienestar.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://drive.google.com/file/d/1ZRcIpPqNtByLzBFlpNDqozse1DuDm1Oj/view?usp=sharing">Presentación Dra. Balvanera</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/9MVP8TgPTqs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>30<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/9MVP8TgPTqs">Valuación de árboles urbanos aplicación de fórmulas, estudio de caso jardín guerrero y corregidora.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1Hhd3I5gKCtxY4wgdatqQGV9muOIL49wMYempMwf9_xs/edit?usp=sharing">Presentación Mtro. Flores</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/y1FPAnAaIf8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>30<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/y1FPAnAaIf8">Estado del arte de la valuación en panamérica.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1wiBBA1GPlNY2tdPe-oSG7z9w9BvlEFqD_evzbGcpqaU/edit?usp=sharing">Presentación Mtro. Flores</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/1H3fUo8IWLo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>30<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/1H3fUo8IWLo">PRESENTACIÓN DE LIBRO: EL VALOR DE LO INVALUABLE; Manual de Valuación de tierras agrícolas.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1X8vCUI6VvvU6KzeB4zz631x87rDD2CeKTPmQ3YOnvjU/edit?usp=sharing">Presentación Mtro. Flores</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/3hU6fX89xeE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>30<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/3hU6fX89xeE">Angangueo 2010, Aprender de los desastres.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="https://docs.google.com/presentation/d/1R3loFAWbWqzCtidU4pB1HpP24j8wSeAof3KCEqzAr5I/edit?usp=sharing">Presentación Dr. Seefo</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/_MO7l_Gt7tM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>30<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/_MO7l_Gt7tM">La evolución del criterio valuatorio sobre el valor del suelo ante cambios de uso por liberaciónde derechos de vía.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="">Presentación Dr. Hernández</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/NqjREGeAWpM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>30<span>Ago</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="https://youtu.be/NqjREGeAWpM">¿Existe daño moral en el impacto social por afectaciones por ocupación del territorio?</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
                                    <i class="fa fa-download"></i>
                                    <a href="">Presentación Dr. Alvarez</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of News Posts  ====-->
{%endblock%}