{%extends 'core/bases.html'%}
{%block title%}Panel intarnacional de expertos{%endblock%}
{%block content%}
{%load static %}
<div class="single post">
    <h3 align="center">PANEL INTERNACIONAL DE EXPERTOS</h3>
    <h3 align="center">“Los problemas de la valuación del suelo ante cambios de uso, derecho de vía y desastres”</h3>
    <ol>
        <li>MODERADOR: DR. OSCAR PEREZ VEYNA (UAZ-MEXICO)</li>
        <li>RELATOR: DRA. ERIKA NUNGARAY (UABC-MEXICO)</li>
        <li>PANELISTA: LUIS FERNANDO RESTREPO (COLOMBIA)</li>
        <li>PANELISTA: DR. VICTOR MANUEL HERNANDEZ MADRIGAL. INICIT-UMSNH(MEXICO)</li>
        <li>PANELISTA INDAABIN:</li>
        <li>PANELISTA SECRETARIA DE DESARROLLO TERRITORIAL:</li>
        <li>PANELISTA COMISION FEDERAL DE ELECTRICIDAD:</li>
        <li>PANELISTA DE PEMEX:</li>
    </ol>
</div>
{%endblock%}