{%extends 'core/base.html'%}
{%block title%}Instituciones participantes{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Nuestros participantes</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">Nuestros participantes</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!--==============================
=            Sponsors            =
===============================-->

<section class="sponsors section bg-sponsors overlay-white">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3><span class="alternate">Instituciones convocantes</span></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/INVAFMICH.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/UAQ.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/UAQFI.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/UAZ.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/UABC.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/CM.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/UNIVA.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/CIMVM.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/FECOVAL.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/INVAF.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
					</ul>
				</div>
				<!-- Title -->
				<div class="sponsor-title text-center">
					<h5>Instituciones invitadas</h5>
				</div>
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
					    <li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/SMACCDT.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							por confirmar
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/pemex.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/INDAABIN.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/SEDATU.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="{% static 'core/images/sponsors/CFE.png'%}" alt="" class="img-fluid">
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Sponsors  ====-->
{%endblock%}