{%extends 'core/base.html'%}
{%block title%}¿Quiénes somos?{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>¿Quienes somos?</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">¿Quienes somos?</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--=================================
=            Testimonial            =
==================================-->

<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3><span class="alternate">¿Quiénes somos?</span></h3>
				</div>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-lg-4 col-md-6">
				<!-- Testimonial -->
				<div class="testimonial-item">
					<!-- Given Comment -->
					<div class="comment">
						<p>Ser el principal referente en materia de valuación del territorio rural, utilizando metodologías emergentes con un enfoque global, pero sin perder de vista las particularidades de lo local, ya que actualmente la sociedad demanda estudios técnica y científicamente demostrables.</p>
					</div>
					<div class="person">
						<div class="media">
							<div class="media-body">
								<!-- Person Name -->
								<div class="name"><p>Misión</p></div>
								<!-- Profession -->
								<div class="profession"><p>INVAF Michoacán</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Testimonial -->
				<div class="testimonial-item">
					<!-- Given Comment -->
					<div class="comment">
						<p>Ser una institución líder de estudios y servicios técnicos en materia de valuación rural con los más altos estándares de calidad, a la vanguardia tecnológica de competencia internacional para la gestión y desarrollo de valoración integral del territorio, construyendo y proponiendo modelos innovadores de valuación de bienes en beneficio de la sociedad.</p>
					</div>
					<div class="person">
						<div class="media">
							<div class="media-body">
								<!-- Person Name -->
								<div class="name"><p>Visión</p></div>
								<!-- Profession -->
								<div class="profession"><p>INVAF Michoacán</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mx-auto">
				<!-- Testimonial -->
				<div class="testimonial-item">
					<!-- Given Comment -->
					<div class="comment">
						<p>Agrupar a personas físicas y morales relacionadas con el sector rural, con capacidad profesional, altos estándares de calidad, ética y honorabilidad que garanticen los juicios de valor en el medio rural. </p>
					</div>
					<div class="person">
						<div class="media">
							<div class="media-body">
								<!-- Person Name -->
								<div class="name"><p>Objetivo</p></div>
								<!-- Profession -->
								<div class="profession"><p>INVAF Michoacán</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Testimonial  ====-->

<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3><span class="alternate">Nuestra dirección</span></h3>
				</div>
			</div>
		</div>
		<div class="row mt-20">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d937.3713427367246!2d-102.28473717083482!3d19.988133659482124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842e89a1d2ae1bcf%3A0xdce2bc3f553f76b6!2sINSTITUTO%20NACIONAL%20DE%20VALUACI%C3%93N%20AGROPECUARIA%20Y%20FORESTAL%20DE%20MICHOAC%C3%81N%2C%20A.%20C.!5e0!3m2!1ses!2smx!4v1591757736343!5m2!1ses!2smx" width="1200" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
	</div>
</section>
{%endblock%}