{%extends 'core/base.html'%}
{%block title%}Semblanza{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Detalles del ponente</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active"> Detalles del ponente</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section single-speaker">
	<div class="container">
		<div class="block">
			<div class="row">
				<div class="col-lg-5 col-md-6 align-self-md-center">
					<div class="image-block">
						<img src="{% static 'core/images/speakers/NFL.jpg'%}" class="img-fluid" alt="speaker">
					</div>
				</div>
				<div class="col-lg-7 col-md-6 align-self-center">
					<div class="content-block">
						<div class="name">
							<h3>Netzahualcoyotl Flores Lázaro</h3>
						</div>
						<div class="profession">
							<p>Doctor en Geografía</p>
						</div>
						<div class="details">
							<p>Ing. Agrónomo por Fac. de Agrobiología “Presidente Juárez” Universidad Michoacana de San Nicolás de Hidalgo 1983; Mtro. en Valuación por UNIVA, Campus GDL 2004, Dr. en Geografía, por la UNAM 2018.</p>
                            <p>Consultor independiente en valuación inmobiliaria, Rural, maquinaria y equipo, Gestión ambiental del territorio desde 1992 a la fecha para instituciones públicas y privadas, ha colaborado en docencia para posgrados de valuación UNIVA y UAQ, para los programas de capacitación de la FECOVAL e INVAF.</p>
                            <p>Es miembro del INVAFMICH y del CIMVMAC, donde ha sido presidente del Consejo Directivo.</p>
                            <p>Cuenta con un número importante de informes técnicos, conferencias y talleres, efectuados tanto en empresas privadas como organismos públicos, comunidades rurales y organizaciones no gubernamentales.</p>
                            <p>Ha participa como conferencista nacional e internacional en los principales foros de valuación del país organizados por FECOVAL, INVAF y la UPAV. Tiene participación en proyectos de investigación multidisciplinaria con la Universidad Autónoma de Zacatecas, COLMICH-CIATEC. CONACYT, y la UMSNH. Sus áreas de investigación son los métodos avanzados de valuación rural y la evaluación biofísica y económica de servicios ecosistémicos. Cuenta con Publicaciones en revistas arbitradas en INIFAP, Revista Mexicana de Ciencias Agropecuarias, Vol. 8 Núm. 4, 2017, Ciencia Nicolaíta 2016 y Journal; Natural Science Vol. 6 No. 2. 108-113. 2014.</p>
						</div>
						<div class="social-profiles">
							<h5>Redes sociales</h5>
							<ul class="list-inline social-list">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{%endblock%}