{%extends 'core/base.html'%}
{%block title%}Semblanza{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Detalles del ponente</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active"> Detalles del ponente</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section single-speaker">
	<div class="container">
		<div class="block">
			<div class="row">
				<div class="col-lg-5 col-md-6 align-self-md-center">
					<div class="image-block">
						<img src="{% static 'core/images/speakers/GPA.jpg'%}" class="img-fluid" alt="speaker">
					</div>
				</div>
				<div class="col-lg-7 col-md-6 align-self-center">
					<div class="content-block">
						<div class="name">
							<h3>Gabriel Palacios Arroyo</h3>
						</div>
						<div class="profession">
							<p>Maestro en valuación Inmobiliaria e Industrial</p>
						</div>
						<div class="details">
                            <p>Cuenta con Licenciatura en Agronomía, por la Universidad Autónoma Metropolitana, Especialidad en Valuación Inmuebles, Agropecuarios y Maquinaría y Equipo por la Universidad Autónoma de Zacatecas, una Maestría en valuación Inmobiliaria e Industrial por la Escuela de Ingenieros Municipales.</p>
                            <p>Es valuador independiente de Instituciones Bancarias, Publicas y Privadas.</p>
                            <p>Fue Director de Promoción y Seguimiento en INDAABIN. -Valuación Agropecuaria en: Universidad Autónoma de Ags., Benemérita Universidad Autónoma de Puebla, Universidad Autónoma del Edo. de Mex, UNAM, Universidad del Valle de Atemajac, en Instituto Tecnológico de Construcción de Cámara Mexicana de la industria de la construcción. en la Universidad Autónoma de Zacatecas.</p>
                            <p>Miembro de Colegio de Valuadores AC, Miembro del Colegio de Ingenieros Agrónomos AC, Miembro de Instituto de valuación del D.F., Miembro del instituto de Valuación Agropecuaria y Forestal A.C., Miembro de la IAAO (The international Association of Assesing Officers, Chicago Illinois, USA).</p>
                            <p>Ha participado en UPAV. Convención Nacional de institutos mexicanos de Valuación. Congreso de Valuación de la SAVAC. INDAABIN en CDMX.</p>
						</div>
						<div class="social-profiles">
							<h5>Redes sociales</h5>
							<ul class="list-inline social-list">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-skype"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{%endblock%}