{%extends 'core/base.html'%}
{%block title%}Semblanza{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Detalles del Conferencista</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active"> Detalles del conferencista</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section single-speaker">
	<div class="container">
		<div class="block">
			<div class="row">
				<div class="col-lg-5 col-md-6 align-self-md-center">
					<div class="image-block">
						<img src="{% static 'core/images/speakers/MLL-full.jpg'%}" class="img-fluid" alt="speaker">
					</div>
				</div>
				<div class="col-lg-7 col-md-6 align-self-center">
					<div class="content-block">
						<div class="name">
							<h3>Maria L. Loureiro</h3>
						</div>
						<div class="profession">
							<p>Doctora en Economía agrícola</p>
						</div>
						<div class="details">
                            <p style="text-align:justify">Maria Loureiro es profesora titular en el Departamento de Economía de la Universidad de Santiago de Compostela. Obtuvo su doctorado en la Universidad Estatal de Washington (EE. UU.). Regresó a la Universidad de Santiago de Composela a través del Programa Ramón y Cajal. Anteriormente, ha sido profesora en la Universidad Estatal de Colorado (EE. UU.) Y en la Universidad Carlos III de Madrid. Sus campos de especialización son la economía agrícola, la economía ambiental y la economía de la salud.
Es PI del grupo de investigación ECO-IURIS de la Universidad de Santiago de Compostela, incluida en el catálogo de grupos de investigación competitivos de referencia de la Xunta de Galicia. Hasta el momento, ha sido asesora de doctorado en 5 tesis doctorales con Sobresaliente Cum Laude, más de 10 proyectos de grado final y ha participado en numerosos proyectos de investigación, tanto nacionales como internacionales. Hasta ahora está involucrada en tres proyectos internacionales MyCOAST, CleanAtlantic y EPyRIS.
En cuanto a la transferencia de conocimiento, su trabajo de valoración de los impactos ambientales se ha utilizado en el proceso de reclamo de daños causados por el derrame de petróleo del Prestige, siendo presentado como testimonio experto económico por el Fiscal Ambiental de Galicia en 2013.
En cuanto a servicios académicos, ha sido secretaria de la Escuela Internacional de Doctorado (EDI) de la Universidad de Santiago de Compostela, de 2014 a 2016, Asesora del Vicerrector de Investigación e Internacionalización, directora del Programa de Doctorado de Economía en Santiago de Compostela desde 2012 y del Programa de Doctorado de análisis económico y estrategia comercial desde 2014. Además, es miembro ordinario de EAERE entre enero de 2018 y diciembre de 2021 y vicepresidenta de EAERE en el año 2019
<br/><br/><br/><a href="http://webspersoais.usc.es/persoais/maria.loureiro/" class="btn btn-main-md">Página personal</a>
</p>
						</div>
						<div class="social-profiles">
							<h5>Redes sociales</h5>
							<ul class="list-inline social-list">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{%endblock%}