{%extends 'core/bases.html'%}
{%block title%}Semblanza{%endblock%}
{%block content%}
{%load static %}
<div class="single post">
    <h2 align="center">Gabriel Palacios Arroyo</h2>
    <p> <img class="alignleft" src="{% static 'core/img/GPA.png'%}" width="100" height="75" alt=""></p>
    <p>Cuenta con Licenciatura en Agronomía, por la Universidad Autónoma Metropolitana, Especialidad en Valuación Inmuebles, Agropecuarios y Maquinaría y Equipo por la Universidad Autónoma de Zacatecas, una Maestría en valuación Inmobiliaria e Industrial por la Escuela de Ingenieros Municipales.</p>
    <p>Es valuador independiente de Instituciones Bancarias, Publicas y Privadas.</p>
    <p>Fue Director de Promoción y Seguimiento en INDAABIN. -Valuación Agropecuaria en: Universidad Autónoma de Ags., Benemérita Universidad Autónoma de Puebla, Universidad Autónoma del Edo. de Mex, UNAM, Universidad del Valle de Atemajac, en Instituto Tecnológico de Construcción de Cámara Mexicana de la industria de la construcción. en la Universidad Autónoma de Zacatecas.</p>
    <p>Miembro de Colegio de Valuadores AC, Miembro del Colegio de Ingenieros Agrónomos AC, Miembro de Instituto de valuación del D.F., Miembro del instituto de Valuación Agropecuaria y Forestal A.C., Miembro de la IAAO (The international Association of Assesing Officers, Chicago Illinois, USA).</p>
    <p>Ha participado en UPAV. Convención Nacional de institutos mexicanos de Valuación. Congreso de Valuación de la SAVAC. INDAABIN en CDMX.</p>
</div>
{%endblock%}