{%extends 'core/bases.html'%}
{%block title%}Semblanza{%endblock%}
{%block content%}
{%load static %}
<div class="single post">
    <h2 align="center">Víctor Manuel Hernández Madrigal</h2>
    <!-- <p> <img class="alignleft" src="{% static 'core/img/GPA.png'%}" width="100" height="75" alt=""></p>-->
    <p>Ingeniero Civil egresado de la Facultad de Ingeniería Civil de la UMSNH, Especialista en Sistemas de Información Geográfica y Percepción Remota por parte del Instituto de Geografía de la UNAM, Maestro en Metalurgia y Ciencias de los Materiales por el Instituto de Investigación en Metalurgia y Materiales de la UMSNH, y Doctor en Geografía por la Facultad de Filosofía y Letras de la UNAM.</p>
    <p>Es profesor investigador con Perfil Deseable adscrito al Instituto de Investigaciones en Ciencias de la Tierra de la UMSNH, cofundador de la Academia Michoacana de Ciencias e integrante del Cuerpo Académico Consolidado en Ciencias de la Tierra.</p>
    <p>Sus líneas de investigación incluyen el estudio de derrumbes o deslaves (Procesos de Remoción en Masa), monitoreo de la subsidencia y estudio de inundaciones en zonas urbanas.</p>
    <p>Cuenta con un número importante de informes técnicos, conferencias y talleres, efectuados tanto en empresas privadas como organismos públicos, comunidades rurales y organizaciones no gubernamentales.</p>
    <p>En los últimos seis años ha publicado más de siete artículos en revistas indizadas nacionales e internacionales, donde una de sus publicaciones más destacadas es sobre el deslizamiento de terreno en Juan Grijalva, Chiapas, publicado en la revista internacional Landslides.</p>
</div>
{%endblock%}