{%extends 'core/base.html'%}
{%block title%}Conferencias{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Conferencias Magistrales</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">Conferencias Magistrales</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!--================================
=            News Posts            =
=================================-->

<section class="news section">
	<div class="container">
		<div class="row mt-30">
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#">
							<img src="#" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4> <span>Agosto</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#"></a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#">
							<img src="#" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4> <span>Agosto</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#">+</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of News Posts  ====-->
{%endblock%}