{%extends 'core/bases.html'%}
{%block title%}Galeria de imagenes{%endblock%}
{%block content%}
{%load static %}
    <table style="width: 100%; bgcolor:#FFFFFF;border-bottom:1pt solid black;">
    <colgroup>
        <col style="width: 60%"/>
        <col style="width: 40%"/>
    </colgroup>
    {%for imagen in Galeria%}
        <tr>
            <td colspan="2" align="center">
                <titulo>{{imagen.titulo}}</titulo>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{imagen.imagen.url}}" alt="{{imagen.titulo}}" style="width:350px;">
            </td>
            <td align="center">
                {{imagen.descripcion}}
            </td>
        </tr>
    {%endfor%}
    </table>
{%endblock%}