{%extends 'core/base.html'%}
{%block title%}Inscripción{%endblock%}
{%block content%}
<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Inscribete</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">Inscribete</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="section contact-form">
	<div class="container">
    {% if messages %}
    <div class="row">
        <div class="col-sm-12">
        {% for message in messages %}
            <p {% if 'success' in message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
        {% endfor %}
        </div>
    </div>
    {% endif %}
        <form action="" method="post" id="payment-form" class="row" target="_top">
            {% csrf_token %}
            <div class="col-md-6">
            {{form.nombre}}
            </div>
            {{form.nombre.errors}}
            <div class="col-md-6">
            {{form.apellidop}}
            </div>
            {{form.apellidop.errors}}
            <div class="col-md-6">
            {{form.apellidom}}
            </div>
            {{form.apellidom.errors}}
            <div class="col-md-6">
            {{form.email}}
            </div>
            {{form.email.errors}}
            <div class="col-md-6">
            {{form.telefono}}
            </div>
            {{form.telefono.errors}}
            <div class="col-md-6">
            {{form.universidad}}
            </div>
            {{form.universidad.errors}}
            <div class="col-md-6">
                {{form.opcion}}
            </div>
            <div class="col-md-12">
            {{form.opcion.errors}}
            </div>
            <div class="col-12 text-center">
				<button type="submit" class="btn btn-main-md">Inscripcion</button>
			</div>
        </form>
    </div>
</section>
{%endblock%}