{%extends 'core/base.html'%}
{%block title%}Inscripción{%endblock%}
{%block content%}
<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Inscribete</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="{%url 'Home'%}">Portada</a></li>
				  <li class="breadcrumb-item active">Inscribete</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="section contact-form">
	<div class="container">
    {% if messages %}
    <div class="row">
        <div class="col-sm-12">
        {% for message in messages %}
            <p {% if 'success' in message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <div>
        <h3><span class="alternate">¿Cómo hacer el pago?</span></h3>
        <p style="text-align:justify">Por favor realice  una transferencia o deposito por el monto de su paquete a la siguiente cuenta:</p><br/>
        <p style="text-align:justify">A NOMBRE DEL: INSTITUTO NACIONAL DE VALUACIÓN AGROPECUARIA Y FORESTAL DE MICHOACÁN, AC</p>
        <p style="text-align:justify">BANCO: BANBAJÍO</p>
        <p style="text-align:justify">CUENTA: 1293 3826 0201</p>
        <p style="text-align:justify">CLABE: 0305 3590 0004 4494 80</p>
        <br/>
        <p style="text-align:justify"><b>Es importante además de realizar sus pagos a este evento registrar sus datos generales para facilitar su facturación y acceso al evento.</b></p>
        <br/>
        <br/>
        <form action="" method="post" id="payment-form" class="row" target="_top">
            {% csrf_token %}
            <div class="col-md-6">
            {{form.nombre}}
            </div>
            {{form.nombre.errors}}
            <div class="col-md-6">
            {{form.rfc}}
            </div>
            {{form.rfc.errors}}
            <div class="col-md-6">
            {{form.calle}}
            </div>
            {{form.calle.errors}}
            <div class="col-md-3">
            {{form.numeroexterior}}
            </div>
            {{form.numeroexterior.errors}}
            <div class="col-md-3">
            {{form.numerointerior}}
            </div>
            {{form.numerointerior.errors}}
            <div class="col-md-3">
            {{form.colonia}}
            </div>
            <div class="col-md-3">
            {{form.cp}}
            </div>
            {{form.cp.errors}}
            <div class="col-md-6">
            {{form.ciudad}}
            </div>
            {{form.ciudad.errors}}
            <div class="col-md-6">
            {{form.estado}}
            </div>
            {{form.estado.errors}}
            <div class="col-md-6">
            {{form.pais}}
            </div>
            {{form.pais.errors}}
            <div class="col-md-6">
            {{form.email}}
            </div>
            {{form.email.errors}}
            <div class="col-md-6">
            {{form.telefono}}
            </div>
            {{form.telefono.errors}}
            <div class="col-md-6">
            {{form.cfdi}}
            </div>
            {{form.cfdi.errors}}
            <div class="col-md-6">
            {{form.formadepago}}
            </div>
            {{form.formadepago.errors}}
            <div class="col-md-6">
            {{form.metododepago}}
            </div>
            {{form.metododepago.errors}}
            <div class="col-md-6">
            {{form.universidad}}
            </div>
            {{form.universidad.errors}}
            <div class="col-md-6">
                {{form.opcion}}
            </div>
            <div class="col-md-12">
            {{form.opcion.errors}}
            </div>
            <div class="col-12 text-center">
				<button type="submit" class="btn btn-main-md">Inscripcion</button>
			</div>
        </form>
    </div>
</section>
{%endblock%}